@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hush kelibsiz!</h1>
    <p><a href="https://t.me/uz_dotnet">.NET Uzbekistan Community</a> telegram sahifasi</p>
</div>
